<div class="cat-news">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Business</h2>
                        <div class="row cn-slider slick-initialized slick-slider"><button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">Previous</button>
                            
                            
                            
                        <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 2280px; transform: translate3d(-570px, 0px, 0px);"><div class="col-md-6 slick-slide slick-cloned" style="width: 285px;" tabindex="-1" data-slick-index="-2" aria-hidden="true">
                                <div class="cn-img">
                                    <img src="/content/dam/newsportal/newsproject/news-350x223-4.jpg">
                                    <div class="cn-title">
                                        <a href="" tabindex="-1">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div><div class="col-md-6 slick-slide slick-cloned" style="width: 285px;" tabindex="-1" data-slick-index="-1" aria-hidden="true">
                                <div class="cn-img">
                                    <img src="/content/dam/newsportal/newsproject/news-350x223-3.jpg">
                                    <div class="cn-title">
                                        <a href="" tabindex="-1">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div><div class="col-md-6 slick-slide slick-current slick-active" style="width: 285px;" tabindex="0" data-slick-index="0" aria-hidden="false">
                                <div class="cn-img">
                                    <img src="/content/dam/newsportal/newsproject/news-350x223-5.jpg">
                                    <div class="cn-title">
                                        <a href="" tabindex="0">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div><div class="col-md-6 slick-slide slick-active" style="width: 285px;" tabindex="0" data-slick-index="1" aria-hidden="false">
                                <div class="cn-img">
                                    <img src="/content/dam/newsportal/newsproject/news-350x223-4.jpg">
                                    <div class="cn-title">
                                        <a href="" tabindex="0">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div><div class="col-md-6 slick-slide" style="width: 285px;" tabindex="-1" data-slick-index="2" aria-hidden="true">
                                <div class="cn-img">
                                    <img src="/content/dam/newsportal/newsproject/news-350x223-3.jpg">
                                    <div class="cn-title">
                                        <a href="" tabindex="-1">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div><div class="col-md-6 slick-slide slick-cloned" style="width: 285px;" tabindex="-1" data-slick-index="3" aria-hidden="true">
                                <div class="cn-img">
                                    <img src="/content/dam/newsportal/newsproject/news-350x223-5.jpg">
                                    <div class="cn-title">
                                        <a href="" tabindex="-1">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div><div class="col-md-6 slick-slide slick-cloned" style="width: 285px;" tabindex="-1" data-slick-index="4" aria-hidden="true">
                                <div class="cn-img">
                                    <img src="/content/dam/newsportal/newsproject/news-350x223-4.jpg">
                                    <div class="cn-title">
                                        <a href="" tabindex="-1">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div><div class="col-md-6 slick-slide slick-cloned" style="width: 285px;" tabindex="-1" data-slick-index="5" aria-hidden="true">
                                <div class="cn-img">
                                    <img src="/content/dam/newsportal/newsproject/news-350x223-3.jpg">
                                    <div class="cn-title">
                                        <a href="" tabindex="-1">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div></div></div><button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button></div>
                    </div>
                    <div class="col-md-6">
                        <h2>Entertainment</h2>
                        <div class="row cn-slider slick-initialized slick-slider"><button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">Previous</button>
                            
                            
                            
                        <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 2280px; transform: translate3d(-570px, 0px, 0px);"><div class="col-md-6 slick-slide slick-cloned" style="width: 285px;" tabindex="-1" data-slick-index="-2" aria-hidden="true">
                                <div class="cn-img">
                                    <img src="/content/dam/newsportal/newsproject/news-350x223-1.jpg">
                                    <div class="cn-title">
                                        <a href="" tabindex="-1">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div><div class="col-md-6 slick-slide slick-cloned" style="width: 285px;" tabindex="-1" data-slick-index="-1" aria-hidden="true">
                                <div class="cn-img">
                                    <img src="/content/dam/newsportal/newsproject/news-350x223-3.jpg">
                                    <div class="cn-title">
                                        <a href="" tabindex="-1">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div><div class="col-md-6 slick-slide slick-current slick-active" style="width: 285px;" tabindex="0" data-slick-index="0" aria-hidden="false">
                                <div class="cn-img">
                                    <img src="/content/dam/newsportal/newsproject/news-350x223-2.jpg">
                                    <div class="cn-title">
                                        <a href="" tabindex="0">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div><div class="col-md-6 slick-slide slick-active" style="width: 285px;" tabindex="0" data-slick-index="1" aria-hidden="false">
                                <div class="cn-img">
                                    <img src="/content/dam/newsportal/newsproject/news-350x223-1.jpg">
                                    <div class="cn-title">
                                        <a href="" tabindex="0">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div><div class="col-md-6 slick-slide" style="width: 285px;" tabindex="-1" data-slick-index="2" aria-hidden="true">
                                <div class="cn-img">
                                    <img src="/content/dam/newsportal/newsproject/news-350x223-3.jpg">
                                    <div class="cn-title">
                                        <a href="" tabindex="-1">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div><div class="col-md-6 slick-slide slick-cloned" style="width: 285px;" tabindex="-1" data-slick-index="3" aria-hidden="true">
                                <div class="cn-img">
                                    <img src="/content/dam/newsportal/newsproject/news-350x223-2.jpg">
                                    <div class="cn-title">
                                        <a href="" tabindex="-1">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div><div class="col-md-6 slick-slide slick-cloned" style="width: 285px;" tabindex="-1" data-slick-index="4" aria-hidden="true">
                                <div class="cn-img">
                                    <img src="/content/dam/newsportal/newsproject/news-350x223-1.jpg">
                                    <div class="cn-title">
                                        <a href="" tabindex="-1">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div><div class="col-md-6 slick-slide slick-cloned" style="width: 285px;" tabindex="-1" data-slick-index="5" aria-hidden="true">
                                <div class="cn-img">
                                    <img src="/content/dam/newsportal/newsproject/news-350x223-3.jpg">
                                    <div class="cn-title">
                                        <a href="" tabindex="-1">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div></div></div><button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button></div>
                    </div>
                </div>
            </div>
        </div>