<div class="top-news">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 tn-left">
                        <div class="row tn-slider slick-initialized slick-slider"><button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">Previous</button>
                            <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 2850px; transform: translate3d(-1140px, 0px, 0px);"><div class="col-md-6 slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 570px;">
                                <div class="tn-img">
                                    <img src="${properties.image}">
                                    <div class="tn-title">
                                        <a href="" tabindex="-1">Integer hendrerit elit eget purus sodales maximus</a>
                                    </div>
                                </div>
                            </div><div class="col-md-6 slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" style="width: 570px;">
                                <div class="tn-img">
                                    <img src="/content/dam/newsportal/newsproject/news-450x350-11.jpg">
                                    <div class="tn-title">
                                        <a href="" tabindex="-1">Lorem ipsum dolor sit amet</a>
                                    </div>
                                </div>
                            </div><div class="col-md-6 slick-slide slick-current slick-active" data-slick-index="1" aria-hidden="false" tabindex="0" style="width: 570px;">
                                <div class="tn-img">
                                    <img src="/content/dam/newsportal/newsproject/news-450x350-22.jpg">
                                    <div class="tn-title">
                                        <a href="" tabindex="0">Integer hendrerit elit eget purus sodales maximus</a>
                                    </div>
                                </div>
                            </div><div class="col-md-6 slick-slide slick-cloned" data-slick-index="2" aria-hidden="true" tabindex="-1" style="width: 570px;">
                                <div class="tn-img">
                                    <img src="/content/dam/newsportal/newsproject/news-450x350-11.jpg">
                                    <div class="tn-title">
                                        <a href="" tabindex="-1">Lorem ipsum dolor sit amet</a>
                                    </div>
                                </div>
                            </div><div class="col-md-6 slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 570px;">
                                <div class="tn-img">
                                    <img src="/content/dam/newsportal/newsproject/news-450x350-22.jpg">
                                    <div class="tn-title">
                                        <a href="" tabindex="-1">Integer hendrerit elit eget purus sodales maximus</a>
                                    </div>
                                </div>
                            </div></div></div>
                            
                        <button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button></div>
                    </div>
                    <div class="col-md-6 tn-right">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="tn-img">
                                    <img src="${properties.image}">
                                    <div class="tn-title">
                                        <a href="">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tn-img">
                                    <img src="/content/dam/newsportal/newsproject/news-350x223-2.jpg">
                                    <div class="tn-title">
                                        <a href="">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tn-img">
                                    <img src="/content/dam/newsportal/newsproject/news-350x223-3.jpg">
                                    <div class="tn-title">
                                        <a href="">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tn-img">
                                    <img src="/content/dam/newsportal/newsproject/news-350x223-4.jpg">
                                    <div class="tn-title">
                                        <a href="">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>